.Money_Cal_div{
    background-color: rgb(0, 0, 0);
    width : 100%;
    border-right : 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Money_Cal{
    background-color: #202220;
    width : 400px;
    height: 56vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color : rgba(255, 255, 255, 0.863);
}

.Money_Cal_name{
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}


/* --------------------------------------------------- */
.Money_Cal_submit{
    width : 355px;
}
.Money_Cal_submit button{
    margin-left: 2px;
    height: 3.6vh;
}
.Money_Cal_submit input{
    width : 300px;
    height: 3vh;
}
.Money_Cal_submit input,.Money_Cal_submit button{
    border-radius: 5px;
    border: 2px solid rgba(211, 211, 211, 0.589);
    color : white;
    background-color: rgb(0, 0, 0);
}
.Money_Cal_submit input:hover,.Money_Cal_submit button:hover{
    border-color : white;
    transition: all 0.5s ease-out;
}
.Money_Cal_submit input:focus{
    border: 2px solid rgb(153, 255, 0);
    transition: all 0.5s ease-out;
    outline: none;
}
.Money_Cal_submit input::placeholder,.Money_Cal_submit button::placeholder {
    color: lightgray;
    font-style :normal;
  }
/* --------------------------------------------------- */

.Money_Cal_list div{
    padding: 5px 5px 5px 5px;
    border: 2px dashed rgb(153, 255, 0);
}
.Money_Cal_list b{
    color : rgb(153, 255, 0);
    display: inline-block;
    float: right;
    border-left: 2px dashed rgb(153, 255, 0);
    padding-left: 5px; 
  }


@media (max-width : 900px){
    .Money_Cal_submit{
        width : 355px;
        white-space: inherit;
    }
    .Money_Cal{
        width : 400px;
    }
    .Money_Cal_submit input{
        width : 300px;
    }
    .Money_Cal_Formdiv{
        width : 350px;
    }
}



.DropDown li:hover{
    background-color: rgb(153, 255, 0);
    color : black;
    font-weight: 900;
}