.Money_Cal_div{
    background-color: black;
    width : 100%;
    border-right : 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Money_Cal{
    background-color: #1a1a1a;
    width : 400px;
    height: 56vh;
    border-radius: 10px;
    border : 2px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
    color : rgba(255, 255, 255, 0.863);
}

.Money_Cal_input{
    width : 300px;
    height: 2vh;
    border-radius: 10px;
}

@media (max-width : 900px){
    .Money_Cal{
        width : 300px;
    }
    .Money_Cal_input{
        width : 200px;
    }
}