.sidebar_all{
    background-color: black;
    width : 190px;
    height: 100vh;
    border-left : 1px solid white;
    border-right : 1px solid white;
    size : 50%;

}
.sidebar_href{
    color : white;
    text-decoration: none;
}
.sidebar_href:hover, .sidebar_href:visited{
    color: white;
}
.sidebar_Logo{
    color : white;
    font-size: 3em;
    font-weight :800;
    padding : 20px;
}

.sidebar_page{
    width : 350px;
    font-size : 1.2em;
    padding : 15px;
    overflow: hidden;
    color : rgba(255, 255, 255, 0.781);
}

.sidebar_icon{
    font-size: 25px;
    padding-right: 20px;
    padding-top: 5px;
    vertical-align: bottom
}

.sidebar_page_sub{
    width : 100px;
    font-size: 1em;
    color : white;
    padding-left: 30px;
    overflow: hidden;
}

.sidebar_ul{
    width : 100px;
    font-size: 1em;
    padding-left : 50px;
    overflow: hidden;
}


@media (max-width : 900px) {
    
    .sidebar_all{
        width : 55px;
        transition: all 0.2s ease-in-out;
        padding-left: 0%;
    }
    .sidebar_all:hover{
        width : 200px;
     
    }
    .sidebar_all:hover > .sidebar_Logo{visibility: visible;}
    .sidebar_Logo{
        visibility: hidden;
    }
}
@media (min-width : 900px){
    .sidebar_all{
        transition: all 0.2s ease-out;
    }
}